<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- This section removes the default IIS server error pages to allow your React app to handle 404 errors. -->
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/index.html" responseMode="ExecuteURL" />
    </httpErrors>

    <!-- This section enables the URL Rewrite module to rewrite all requests to your index.html file. -->
    <rewrite>
      <rules>
        <rule name="React Router Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
    
    <!-- You may need to adjust this section based on your project's requirements. -->
    <httpCompression>
      <staticTypes>
        <add mimeType="text/css" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/ld+json" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="image/jpeg" enabled="true" />
        <add mimeType="image/png" enabled="true" />
        <add mimeType="image/x-icon" enabled="true" />
        <add mimeType="image/gif" enabled="true" />
      </staticTypes>
    </httpCompression>
    
  </system.webServer>
</configuration>
