@font-face{
  font-family: 'Raleway';
  src: local('Raleway'),url('./fonts/Raleway.ttf');
  font-weight: 500;
}

@font-face{
font-family: 'Inconsolata';
src:local('Inconsolata'), url('./fonts/Inconsolata.ttf');
font-weight: 700;
}

.hero-blog:hover{
  position: relative;
}

.hero-blog:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}
.hero-blog:hover:before {
  height: 100%;
}

.sidebar-items:hover{
  background:#9A9A9A;
}
/* 
.navbar{
  -webkit-box-shadow: 0px 1px 10px 0px rgba(71,71,71,0.57);
  -moz-box-shadow: 0px 1px 10px 0px rgba(112, 112, 112, 0.57);
  box-shadow: 0px 1px 10px 0px rgba(159, 159, 159, 0.57);
} */

.navbar{
  border-bottom: 1px solid #a9a9a9;
}

.footer-link{
  color: #474747;
  background-color: transparent;
  text-decoration: none;
}